* {
    -moz-box-sizing: border-box;
    -webit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 100%;
	line-height: 1.2em;
    position: relative;
}

body {
	font-size: .895em;
	line-height: 1.5em;
	padding-bottom: 2.5em;
	color: #cacaca;
    background-color: #141414;
}

h2, h4 {
    display: inline-block;
	font-family: 'Noto Sans', sans-serif;
}

p {
	font-family: 'Aleo', serif;
	font-weight:300;
	color: #cacaca;
}

img {
    width: 100%;
    height: auto;
}

.container {
	width:80%;
	margin: 0 auto;
	margin-right:3.4em;
    padding-top:2.5em;
}

.row {
    float: left;
    clear: both;
    width: 100%;
}

.container .columns {
    float: left;
    padding-left: 1em;
    padding-right: 1em; 
}

.container .columns.one,
.container .columns.two,
.container .columns.three,
.container .columns.four,
.container .columns.five,
.container .columns.six,
.container .columns.seven,
.container .columns.eight,
.container .columns.nine,
.container .columns.ten,
.container .columns.eleven,
.container .columns.twelve,
.container .columns.thirteen,
.container .columns.fourteen,
.container .columns.fifteen,
.container .columns.sixteen  {  width: 100%   }

.clearfix:after,
.container:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

.clearfix,
.container {
    zoom: 1; /* for IE6/7 */
} 

/* navigation */

nav li {
    font-family: 'Aleo', serif;
	font-weight:300;
}

nav[role="secondary"] ul {
    display:none;
}

nav[role="primary"] {
    position: fixed;
    right: -15em;
    top: 0;
    bottom: 0;
    background-color: #0e5e97;
    border-left: 4em solid #0e5e97;
    box-shadow: 2em 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

nav[role="primary"] p {
    position: fixed;
    right: .5em;
    top: 1em;
    z-index: 1;
    cursor: pointer;
    color: #cacaca;
    font-size: 1.5em;
}

nav[role="primary"] ul {
    list-style: none;
    width:11.75em;
    font-size:1.15em;
}

nav[role="primary"], nav[role="primary"] * {
    transition: all 1000ms ease;
}

nav[role="primary"]:hover {
    right: 0;
}

nav[role="primary"] li {
    padding: 8%;
}

nav[role="primary"] li a {
    text-decoration: none;
    color: #cacaca;
}

nav[role="primary"] li:first-child {
    padding-top: 25%;
}

/* about */

#about-content {
	width:95%;
}

#about-content h1 {
    margin-bottom: .5em;
	letter-spacing: .02em;
    line-height: 1em;
}

#about-content #h2 {
    margin-bottom:1em;
	letter-spacing: -0.03em;
}

#about-content p {
    font-family: 'Aleo', serif;
	font-weight:300;
    text-align:justify;
}

#about-content a {
    font-family: 'Aleo', serif;
    text-align:justify;
	text-decoration: none;
	color:#0e5e97;
	font-weight: 300;
}

#about-content img {
	margin-bottom:1.25em;
	width:300px;
	height:300px;
}

/* lists */

#lists-content h4 {
    margin: 1em 0em 1em 0em;
}

#lists-content a {
	font-family: 'Aleo', serif;
	font-weight:550;
	text-decoration: none;
	color:#0e5e97;
}

/* footer */
    
footer ul {
    display: inline;
	position: relative;
	float:right;
	list-style-type: none;
	text-decoration: none;
	margin-top: .82em;
	padding-top:1.5em;
}
    
footer ul li {
    display: inline;
    float: center;
    padding-left:.75em;
}
    
footer ul li a {
    text-decoration: none;
    color:#cacaca;
}
    
footer ul li a:hover {
	color:#FAB81E;
}

/* media queries */

@media screen and (min-width: 415px) {
    
	body {
        font-size: .95em;
        line-height: 1.5em;
    }
    
	.container {   
		width:80%;
		margin: 0 auto;
	}
}

@media only screen and (min-width:715px) {
    
    /* navigation */
    
    nav[role="primary"] {
        display:none;
    }
    
    nav[role="secondary"] ul {
        display: inline;
        position: relative;
        float:right;
        list-style-type: none;
        text-decoration: none;
        padding-top: .82em;
    }
    
    nav[role="secondary"] ul li {
        display: inline;
        float: center;
        padding-left: 1.75em;
    }
    
    nav[role="secondary"] ul li a {
        size:.95em;
        text-decoration: none;
        color:#cacaca;
    }
    
	/* other styles */
	
    #about-content, #lists-content {
    width:70%;
    }
	
	#lists-content ul li {
	margin-left:1.5em;
	}
}

@media only screen and (min-width: 925px) {
    nav[role="secondary"] ul li {
        padding-left:1.5em;
    }
}

@media only screen and (min-width: 1020px) {
    #about-content, #lists-content {
    width:60%;
    }
}

#er {
    font-size: 3em;
}

#error {
    font-size: 1.2em;
    padding-bottom: 2em;
}