#nav {
    width: 100vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDFD96;
    font-family: 'Raleway', sans-serif;
}
#nav ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; 
}
#nav li {
    list-style: none;
    float: left;
    padding: 0 2vw; 
    display: inline-block;
}
#nav a{
    text-decoration: none;
    color: #474949;
    font-size: 1.5vw;
}
#nav a:hover{
    text-decoration: none;
    color: gray;
}
#about{
    vertical-align: middle;
    display: inline;
    height: 100%;

}
#about img{
    float: left;
    width: 25%;
    height: 25%;
    padding-left: 5vw;
    padding-right: 2vw;
    margin-top: 5vw; 
}
#about p{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8vw; 
    text-decoration: none;
    height: 22vw;
    vertical-align: middle;
    padding-left: 5vw;
    padding-right: 8vw;
    margin-top: 10vw; 
}
#intro{
    margin-top: 12vw;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vw; 
    color: #2f3030;
}
#contact{
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; 
}
#contact a{
    color: dimgray;
    text-decoration: none;
}
#contact i{
    color: dimgray;
    list-style: none;
    float: left;
    padding: 0 5vw; 
    display: inline-block;
}
#intro i{
    color: #474949;
}
#intro i:hover{
    color: #575959;
}

