* {
    margin: 0;
    padding 0;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica", Arial, Verdana;
    height: 100%;
    background-color: #8AD2A2;
}

.index figure{
    margin: 0 auto;
    text-align: center;
}

.index p {
    margin: 1% 3% 3% 3%;
    font-size: 2em;
}
